.leaflet-control-coordinates {
  text-align: center;
  margin: auto;
  padding: 0px 3px;
}

@keyframes flash {

  0%,
  100% {
    background-color: white;
  }

  50% {
    background-color: var(--bs-highlight-bg);
  }
}

.flash {
  animation-name: flash;
  animation-duration: 0.5s;
}

.leaflet-control-coordinates pre {
  margin: 0px;
  font-size: 1rem;
}

.leaflet-control-coordinates-switch {
  margin: 0px 5px;
  min-height: 0px;
}